header{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo img{
    height: 100px;
    border-radius: 14px;
    mix-blend-mode:hard-light;
}

.score{
    display: flex;
    gap: 20px;
}
